{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'mural/css/style.css'%}">
    <script src="https://kit.fontawesome.com/3f2ba3881e.js"></script>
</head>

<body>
    <div class="container">
        {% include 'partials/messages.html'%}
        {% include 'partials/login_message.html'%}
        <div class="caixa">
            <section class="head-form">
                <h1>Cadastro</h1>
            </section>
            <section class="form-section">
                <form action="{% url 'authors-create' %}" method="POST">
                    <div class="color-text">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-list">
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            {{field}}
                            {% if field.help_text %}
                            <p class="help-text">
                                {{field.help_text}}
                            </p>
                            {% endif %}
                            {{field.errors}}
                        </div>
                        {% endfor %}
                        <input type="submit" value="Cadastro" class="submitBtn">
                    </div>
                </form>
                <p>Tem Uma Conta? <a href="{% url 'authors-login' %}">Entre Aqui</a></p>

            </section>

            <section class="social-media">
                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://google.com"><i class="fab fa-google-plus-g"></i></a>
            </section>
        </div>
    </div>

</body>

</html>