<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card</title>
    <link rel="stylesheet" href="assets/css/style3.css">
</head>

<body>
    <title id="title">Albert Einstein</title>
    <main id="main" class="shape">
        <header>
            <h1>Albert Einstein</h1>
            <h2>Greatest physicist of all time</h2>
        </header>
        <div id="img-div">
            <img id="image" class="Albert-Einstein" src="" alt="" />
            <div id="img-caption" class="img-caption"><i>Portrait by Ferdinand Schmutzer, 1921.</i></div>
        </div>
        </section>
        <div id="tribute-info">
            <h3><b>About Einstein:</b></h3>
            <p>Albert Einstein, 14/03/1879-18/April/1955, was born in the German Empire and died in the United States.
                He is known for discovering and answering many concepts and formulas such as; general relativity,
                special relativity and the unified field theory. During his life Einstein moved to many countries
                allowing him to contribute to many universites and intutions around the world. He married twice in his
                life but his first wife is the mother to all 3 of his children; Eduard Einstein, Hans Albert Einstein
                and Lieserl Einstein. Einstien's influences were Hendrik Lorentz and Hermann Minkowski, both were great
                in the fields of physics and mathematics.</p>
            <h3>Accomplishments:</h3>
            <ul class="acc">
                <li>Barnard Medal</li>
                <li>Nobel Prize in Physics</li>
                <li>Mattecci Medal</li>
            </ul>
            <br>
            <a><b>You can read more about Albert Einstein on his <a id="tribute-link" class="link"
                        href="">link</a>.</b></a>
        </div>
    </main>
</body>